/*Carrito*/

.cart-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  #cart-items {
    margin-bottom: 15px;
  }
  
  #cart-total {
    font-size: 18px;
    font-weight: bold;
  }
  
  #checkout-btn {
    background-color: #28a745;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #checkout-btn:hover {
    background-color: #218838;
  }

  .header {
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 10px;           
}
  

  .shop {
    height: 50px;
    width: auto;
  }